*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-image: url("img-login/pngtree-3d-geometric-surface-image_700096.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
.box{
    background-color: rgb(0, 0, 0, 0.3);
    width: 25%;
    margin: 150px auto;
    border-radius: 10px;
    padding: 20px;
}
.box h2{
    color: 	rgb(204,204,0);
    margin-bottom: 15px;
}
.box input{
    padding: 5px 30px;
    width: 100%;
    margin-bottom: 7px;
    border-radius: 3px; 
}
.box input:focus{
    outline: none;
}
.box button{
    padding: 7px 15px;
    border-radius: 5px;
    background-color: rgb(204,204,0);
    border: none;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
}
.box .item1{
    background-image: url('img-login/user.jpg');
    background-repeat: no-repeat;
    background-size: 29px;
    background-position: left center;
    z-index: 1;
}
.box .item2{
    background-image: url('img-login/email.jpg');
    background-repeat: no-repeat;
    background-size: 22px;
    background-position: 2px center;
    z-index: 1;
}
.box .item3{
    background-image: url('img-login/phone.jpg');
    background-repeat: no-repeat;
    background-size: 23px;
    background-position: 2px center;
    z-index: 1;
}
.box .item4{
    background-image: url('img-login/lock.jpg');
    background-repeat: no-repeat;
    background-size: 28px;
    z-index: 1;
}
.box .item.error{
    border: 2px solid red;
}
.tuy a i{
    color: black;
    font-size: 15px;
    position: fixed;
    top: -5;
    left:5;
    z-index: 1;
}
